@tailwind base;
@tailwind components;
@tailwind utilities;

.gallery-bg{
    background-image: url(./assets/images/bg1.png);
}

.main-bg{
    background-color: rgba(225, 225, 225, 0.37);
}

.login-bg{
    background-image: url(./assets//images/bg2.png);
}

.register-bg{
    background-image: url(./assets//images/bg2.png);
}

.blogs-bg{
    background-image: url(./assets/images/bg4.png);
}

